# Backend: .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações locais
.vscode/
.localhistory/
.idea/
*.vs

# Logs
*.log
logs/
debug.log
error.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Testes: .NET
TestResults/
coverage/
*.trx

# Ambientes
.env
.env.local
.env.*.local

# Editor / IDE
*.swp
*.bak
*.tmp
*.pid
*.seed
*~
